In [3]:
pip install chefboost

Requirement already satisfied: chefboost in c:\users\lenovo\anaconda3\lib\site-packages (0.0.17)
Requirement already satisfied: psutil>=5.4.3 in c:\users\lenovo\anaconda3\lib\site-packages (from chefboost) (5.8.0)
Requirement already satisfied: numpy>=1.14.0 in c:\users\lenovo\anaconda3\lib\site-packages (from chefboost) (1.21.5)
Requirement already satisfied: pandas>=0.22.0 in c:\users\lenovo\anaconda3\lib\site-packages (from chefboost) (1.4.2)
Requirement already satisfied: tqdm>=4.30.0 in c:\users\lenovo\anaconda3\lib\site-packages (from chefboost) (4.64.0)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\lenovo\anaconda3\lib\site-packages (from pandas>=0.22.0->chefboost) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\lenovo\anaconda3\lib\site-packages (from pandas>=0.22.0->chefboost) (2021.3)
Requirement already satisfied: six>=1.5 in c:\users\lenovo\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas>=0.22.0->chefboost) (1.16.0)
Requirement already satisfied: colorama in c:\users\lenovo\anaconda3\lib\site-packages (from tqdm>=4.30.0->chefboost) (0.4.4)
Note: you may need to restart the kernel to use updated packages.

In [1]:
from chefboost import Chefboost as chef

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("D:/LAB/AML/mammals.csv")

In [4]:
df

,species,body_wt,brain_wt,non_dreaming,dreaming,total_sleep,life_span,gestation,predation,exposure,danger
0,Africanelephant,6654.000,5712.0,NaN,NaN,3.3,38.6,645.0,3,5,3
1,Africangiantpouchedrat,1.000,6.6,6.3,2.0,8.3,4.5,42.0,3,1,3
2,ArcticFox,3.385,44.5,NaN,NaN,12.5,14.0,60.0,1,1,1
3,Arcticgroundsquirrel,0.920,5.7,NaN,NaN,16.5,NaN,25.0,5,2,3
4,Asianelephant,2547.000,4603.0,2.1,1.8,3.9,69.0,624.0,3,5,4
...,...,...,...,...,...,...,...,...,...,...,...
57,Treehyrax,2.000,12.3,4.9,0.5,5.4,7.5,200.0,3,1,3
58,Treeshrew,0.104,2.5,13.2,2.6,15.8,2.3,46.0,3,2,2
59,Vervet,4.190,58.0,9.7,0.6,10.3,24.0,210.0,4,3,4
60,Wateropossum,3.500,3.9,12.8,6.6,19.4,3.0,14.0,2,1,1
61,Yellow-belliedmarmot,4.050,17.0,NaN,NaN,NaN,13.0,38.0,3,1,1

In [8]:
config = {'algorithm ': 'CART'}
model = chef.fit(df,config = config,target_label = "danger")

[INFO]:  4 CPU cores will be allocated in parallel running
WARNING: You set the algorithm to  ID3  but the Decision column of your data set has non-object type.
That's why, the algorithm is set to Regression to handle the data set.
Regression  tree is going to be built...
-------------------------
finished in  4.272375822067261  seconds
-------------------------
Evaluate  train set
-------------------------
MAE:  0.0
MSE:  0.0
RMSE:  0.0
RAE:  0.0
RRSE:  0.0
Mean:  2.6129032258064515
MAE / Mean:  0.0 %
RMSE / Mean:  0.0 %

In [9]:
df

,species,body_wt,brain_wt,non_dreaming,dreaming,total_sleep,life_span,gestation,predation,exposure,danger
0,Africanelephant,6654.000,5712.0,NaN,NaN,3.3,38.6,645.0,3,5,3
1,Africangiantpouchedrat,1.000,6.6,6.3,2.0,8.3,4.5,42.0,3,1,3
2,ArcticFox,3.385,44.5,NaN,NaN,12.5,14.0,60.0,1,1,1
3,Arcticgroundsquirrel,0.920,5.7,NaN,NaN,16.5,NaN,25.0,5,2,3
4,Asianelephant,2547.000,4603.0,2.1,1.8,3.9,69.0,624.0,3,5,4
...,...,...,...,...,...,...,...,...,...,...,...
57,Treehyrax,2.000,12.3,4.9,0.5,5.4,7.5,200.0,3,1,3
58,Treeshrew,0.104,2.5,13.2,2.6,15.8,2.3,46.0,3,2,2
59,Vervet,4.190,58.0,9.7,0.6,10.3,24.0,210.0,4,3,4
60,Wateropossum,3.500,3.9,12.8,6.6,19.4,3.0,14.0,2,1,1
61,Yellow-belliedmarmot,4.050,17.0,NaN,NaN,NaN,13.0,38.0,3,1,1

In [10]:
prediction = chef.predict(model, param = ['Yellow-belliedmarmot',4.050,17.0,'NaN','NaN','NaN',13.0,38.0,3,1])

In [11]:
prediction

1

In [12]:
import pandas as pd

In [21]:
df1 = pd.read_csv("D:/LAB/AML/tennis2.txt")

In [22]:
df1

     Outlook  Temperature  Humidity    Wind Decision
0      Sunny           85        85    Weak       No
1      Sunny           80        90  Strong       No
2   Overcast           83        78    Weak      Yes
3       Rain           70        96    Weak      Yes
4       Rain           68        80    Weak      Yes
5       Rain           65        70  Strong       No
6   Overcast           64        65  Strong      Yes
7      Sunny           72        95    Weak       No
8      Sunny           69        70    Weak      Yes
9       Rain           75        80    Weak      Yes
10     Sunny           75        70  Strong      Yes
11  Overcast           72        90  Strong      Yes
12  Overcast           81        75    Weak      Yes
13      Rain           71        80  Strong       No

In [24]:
config ={'algorithm':'CART'}
model = chef.fit(df1,config = config , target_label = 'Decision')

[INFO]:  4 CPU cores will be allocated in parallel running
CART  tree is going to be built...
-------------------------
finished in  2.0351457595825195  seconds
-------------------------
Evaluate  train set
-------------------------
Accuracy:  100.0 % on  14  instances
Labels:  ['No' 'Yes']
Confusion matrix:  [[5, 0], [0, 9]]
Precision:  100.0 %, Recall:  100.0 %, F1:  100.0 %

In [25]:
df

,species,body_wt,brain_wt,non_dreaming,dreaming,total_sleep,life_span,gestation,predation,exposure,danger
0,Africanelephant,6654.000,5712.0,NaN,NaN,3.3,38.6,645.0,3,5,3
1,Africangiantpouchedrat,1.000,6.6,6.3,2.0,8.3,4.5,42.0,3,1,3
2,ArcticFox,3.385,44.5,NaN,NaN,12.5,14.0,60.0,1,1,1
3,Arcticgroundsquirrel,0.920,5.7,NaN,NaN,16.5,NaN,25.0,5,2,3
4,Asianelephant,2547.000,4603.0,2.1,1.8,3.9,69.0,624.0,3,5,4
...,...,...,...,...,...,...,...,...,...,...,...
57,Treehyrax,2.000,12.3,4.9,0.5,5.4,7.5,200.0,3,1,3
58,Treeshrew,0.104,2.5,13.2,2.6,15.8,2.3,46.0,3,2,2
59,Vervet,4.190,58.0,9.7,0.6,10.3,24.0,210.0,4,3,4
60,Wateropossum,3.500,3.9,12.8,6.6,19.4,3.0,14.0,2,1,1
61,Yellow-belliedmarmot,4.050,17.0,NaN,NaN,NaN,13.0,38.0,3,1,1

In [28]:
prediction1 = chef.predict(model, param = ['Sunny',85,85,'Weak'])

In [30]:
prediction1

'No'